#register_content{
     width:100%;
		 height:700px;
		 margin-top:10px;
     background:url(../img/index/gq_lb1.jpg) no-repeat;
		 background-size:100% 100%;		 
}
#register,.register{
		 width:670px;
		 margin:140px auto;
		 background-color:rgba(120,100,111,0.7);
     border-radius:3px;
		 text-align:left;
		 box-sizing:border-box;
		 padding:10px 0 10px 80px;
}
.register{
     display:none;
		 margin:70px 0 0 150px;
}
#register>div{
     line-height:30px;
		 margin-top:15px;
		 color:#f4f4f4;
}
#register>div>span:first-child{
     font-size:1.5em;
		 line-height:20px;
}
#register>div.cupwd{
     margin-left:-48px;
}
#register>div>span:last-child{
     font-size:1em;
}
#register>div>span:last-child .tr{
     width:17px;
		 height:17px;
		 margin-left:5px;
}
#register>div>input{
     height:30px;
     line-height:30px;
		 border-radius:2px;
		 outline:none;
		 font-size:1em;
}
#setYzm{
     width:21%;
}
#yzm{
     width:20%;
}
#register>.user_agree a{
     color:#fff;
}
#register>.btns>input{
     width:42%;
		 height:35px;
		 background:#0aa1ed;
		 font-size:1em;
		 cursor:pointer;
		 color:#f4f4f4;
}
#register>.load_index>a{
     font-size:1em;
		 color:#000;
}
#register>.load_index>a:last-child{
     margin-left:17%;
}
#register>.load_index>a:hover{
		 color:#f4f4f4;
}